@use './reset' as *;

[data-theme='dark'] {
	color-scheme: dark;
}

[data-theme='light'] {
	color-scheme: light;
}

body {
	display: grid;
	place-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

.app {
	display: grid;
	gap: 1rem;
	justify-items: center;
	max-width: 60ch;
	text-align: center;

	.logo {
		position: relative;
		margin-bottom: 1rem;
	}

	.bg-logo {
		position: absolute;
		z-index: -1;
		inset: 0;
		background: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
		scale: 1.25;
		border-radius: 500px;
		filter: blur(26px);
	}

	img {
		animation: hover 1s ease-in-out infinite alternate;
	}

	a {
		padding: 0.75em;
		border-radius: 6px;

		&:hover {
			background-color: hsl(0 0% 0% / 0.15);
		}
	}
}

@keyframes hover {
	from {
		translate: 0 -5px;
	}
	to {
		translate: 0 5px;
	}
}
